* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

form {
  font-family: "Press Start 2P", cursive;
}

button {
  font-family: "Press Start 2P", cursive;
  background: none;
}

.hidden {
  display: none;
}

.container {
  /* border: 2px solid red; */
  background-color: rgb(213, 193, 114);
  border: 15px solid rgba(191, 152, 91);
  outline: 5px solid rgb(213, 193, 114);
  border-style: double;
  height: 80%;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
}

.logo {
  background: url("../src/assets/logo.png") center center no-repeat;
  background-size: cover;
  /* border: 2px solid red; */
  height: 10%;
  width: 80%;
  margin-bottom: 10%;
}
