* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

form {
  font-family: "Press Start 2P", cursive;
}

button {
  font-family: "Press Start 2P", cursive;
  background: none;
}

.hidden {
  display: none;
}

.container {
  border: 2px solid red;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
}
